---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill",
  "cv",
  "font-awesome/fontawesome",
  "font-awesome/brands",
  "font-awesome/solid",
  "font-awesome/regular"
;

.footer-logo {
  display: block;  /* Ensures the logo is on a new line */
  margin: 10px auto;  /* Centers the logo and adds vertical spacing */
  height: 50px;  /* Adjust this value as needed to fit your design */
}